# Data Science Tools and Ecosystem

Data science tools and ecosystems will be summarized below.

__Objectives:__

- List of common languages
- List of common libraries
- Table of data science tools
- Examples of arithmetic expressions

Common languages that data scientists utilize are:
    
    1. Python
    2. R
    3. SQL

Common libraries that data scientists use are:
    
    1. TensorFlow
    2. PyTorch
    3. NumPy
    4. Keras

| Data Science Tools |
|--------------------|
| Jupyter |
| RStudio | 
| Spyder |

### Examples of Arithmetic Expressions

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Jacob Voth